@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glitch {
  0% {
    clip-path: inset(40% 0 61% 0);
    transform: translate(-2px, 2px);
  }

  20% {
    clip-path: inset(92% 0 1% 0);
    transform: translate(2px, -2px);
  }

  40% {
    clip-path: inset(43% 0 1% 0);
    transform: translate(-2px, 2px);
  }

  60% {
    clip-path: inset(25% 0 58% 0);
    transform: translate(2px, -2px);
  }

  80% {
    clip-path: inset(54% 0 7% 0);
    transform: translate(-2px, 2px);
  }

  100% {
    clip-path: inset(58% 0 43% 0);
    transform: translate(2px, -2px);
  }
}

.animate-glitch {
  animation: glitch 2s infinite linear alternate-reverse;
  mix-blend-mode: multiply;
}